<div class="loginError" ng-show="dialog.currentStep().loginError">{{dialog.currentStep().loginErrorMessage}}</div>
<md-input-container class="md-block">
    <label>SocioCortex Server URL</label>
    <input type="text" name="username" ng-model="dialog.currentStep().serverURL"/>
</md-input-container>
<md-input-container class="md-block">
    <label>Username</label>
    <input type="text" name="username" ng-model="dialog.currentStep().username"/>
</md-input-container>
<md-input-container class="md-block">
    <label>Password</label>
    <input type="password" name="password" ng-model="dialog.currentStep().password"/>
</md-input-container>