<md-subheader class="md-primary bottom-border">LAYOUTS</md-subheader>
<md-content class="layouts-view bottom-border md-padding">
    <div ui-tree="layouts.treeOptions" data-clone-enabled="true" data-nodrop-enabled="true">
        <div layout="row" layout-wrap ui-tree-nodes data-clone-enabled="true" data-nodrop-enabled="true"
                 ng-model="layouts.layoutsService.elements">
            <md-card flex class="layouts-element" ng-repeat="element in layouts.layoutsService.elements" ui-tree-handle
                          ui-tree-node>
                <md-icon class="material-icons">{{element.getIcon()}}</md-icon>
                <md-tooltip>
                    <span>{{element.getLabel()}}</span><span ng-if="element.getDescription()!==''">- {{element.getDescription()}}</span>
                </md-tooltip>
            </md-card>
        </div>
    </div>
</md-content>


