<p>The editor allows to efficiently develop form-based web UIs based on a given JSON data schema.
    You can find more information about the framework on the <a target="_blank"
                                                                href="http://github.eclipsesource.com/jsonforms/">JSON
        Forms webpage</a>.
    To get started, please select below, whether you want to start with an empty data schema or whether you want to
    import an existing one from the available sources.</p>
<div ng-cloak>
    <md-grid-list
            md-cols-xs="4" md-cols-sm="4" md-cols-md="4" md-cols-gt-md="4"
            md-row-height-gt-md="2:1" md-row-height="2:1"
            md-gutter="10px" md-gutter-gt-sm="8px" style="margin: 0px;">
        <md-grid-tile ng-repeat="hook in dialog.importService.getHooks()" ng-click="hook.openDialog(dialog)"
                      style="background-color: #03a9f4"
                      md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-ink-ripple>
            <md-icon class="material-icons" style="color:white">{{hook.getIconFont()}}</md-icon>
            <md-grid-tile-footer>
                <h3>{{hook.getTitle()}}</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</div>