<!-- Nested node template -->
<script type="text/ng-template" id="tree_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content">
    <a ng-if="node.elements && node.elements.length > 0" data-nodrag ng-click="tree.toggle(this)">
      <md-icon class="material-icons" ng-show="collapsed">expand_more</md-icon>
      <md-icon class="material-icons" ng-show="!collapsed">expand_less</md-icon>
    </a>
    {{node.type}} <span ng-show="node.label">-</span>  {{node.label}}
    <a class="pull-right left-margin" hideIf="node.root" data-nodrag ng-click="tree.remove(this)">
      <md-icon class="material-icons">delete</md-icon>
    </a>
    <a class="pull-right left-margin" data-nodrag ng-click="tree.showDetails(node);">
      <md-icon class="material-icons">edit</md-icon>
    </a>
    <a class="pull-right" hideIf="!node.elements" data-nodrag ng-click="tree.newSubItem(this)">
      <md-icon class="material-icons">add</md-icon>
    </a>
  </div>

  <ol ui-tree-nodes="" ng-model="node.elements" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.elements track by $index" ui-tree-node ng-include="'tree_renderer.html'"></li>
  </ol>
</script>


<md-content class="md-padding tree-view">
  <div ui-tree="treeOptions" data-clone-enabled="true">
    <ol ui-tree-nodes="" ng-model="tree.elements">
      <li ng-repeat="node in tree.elements track by $index" ui-tree-node ng-include="'tree_renderer.html'"></li>
    </ol>
  </div>
</md-content>