<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content element">
        <a ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="tree.toggle(this)"><i class="material-icons">expand_more</i></a>
        {{node.title}}
        <a class="pull-right" data-nodrag ng-click="tree.removeElement(node)"><i class="material-icons">delete</i></a>
        <a class="pull-right" data-nodrag ng-click="tree.addElementInside(node, null)" style="margin-right: 8px;"><i class="material-icons">add</i></a>
        <a class="pull-right" data-nodrag ng-click="tree.showDetails(node)" style="margin-right: 8px;"><i class="material-icons">edit</i></a>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>

<div class="row">
    <div class="col-sm-10 col-sm-push-1">
        <div ui-tree id="tree-root" class="angular-ui-tree">
            <ol ui-tree-nodes ng-model="tree.data" class="angular-ui-tree-nodes">
                <li ng-repeat="node in tree.data" ui-tree-node ng-include="'nodes_renderer.html'" class="angular-ui-tree-node"></li>
            </ol>
        </div>
    </div>
</div>