<md-content style="height: 100%;" class="md-padding jsf" ng-if="preview.previewService.schema">
    <jsonforms schema="preview.previewService.schema" uischema="preview.previewService.uiSchema"
               data="preview.data"></jsonforms>
</md-content>
<md-button ng-if="!preview.configService.isPreviewTab()&&preview.shouldShowNewTabButton()" ng-click="preview.openInNewTab()" class="md-fab accent md-fab-bottom-right">
    <md-icon class="material-icons">open_in_new</md-icon>
</md-button>
<script>
    window.addEventListener('message', function (event) {
        var injector = angular.element('html').injector();
        var service = injector.get('PreviewService');
        if (event.data.schema) {
            service.schema = event.data.schema;
        }
        if (event.data.uiSchema) {
            service.uiSchema = event.data.uiSchema;
        }

        // set to preview Mode
        var config = injector.get('ConfigService');
        config.setIsPreviewTab();

        // update everything
        var scope = injector.get('$rootScope');
        scope.$apply();
    }, false);
</script>
