<md-dialog class="modalDialog">
    <md-toolbar>
        <div class="md-toolbar-tools wizardStepsContainer">
            <span ng-repeat="step in dialog.getSteps()"
                  ng-class="(step.isActive() ? 'wizardStepActive' : (dialog.isNavigatableStep(step) ? 'wizardStep' : 'wizardStepNotNavigatable'))"
                  ng-style="dialog.getStyle()" ng-click="dialog.goTo(step)" md-ink-ripple>
                    <h2>{{step.getTitle()}}</h2>
            </span>
        </div>
	<div class="dialogError" ng-show="dialog.shouldDisplayNotification()">{{dialog.currentNotification}}</div>
    </md-toolbar>
    <md-dialog-content class="md-padding">
        <ng-include src="dialog.currentStep().getTemplate()"/>
    </md-dialog-content>
    <md-dialog-actions ng-if="dialog.currentStep().hasNavigation()">
        <md-button ng-if="dialog.hasPrevious()" ng-click="dialog.previous()">Previous</md-button>
        <md-button class="md-primary" ng-click="dialog.next()">{{dialog.getTextNextButton()}}</md-button>
        <md-button class="md-primary" ng-if="dialog.canSkip()" ng-click="dialog.skip()">Skip</md-button>
    </md-dialog-actions>
</md-dialog>
