<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JSON Forms Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% styles.forEach(function(file){ %>
    <link rel="stylesheet" type="text/css" href="<%= file %>">
    <% }); %>
    <% scripts.forEach(function(file){ %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

</head>
<body>

<div class="jsonFormsEditor-Header" ui-view="headerContainer"></div>

<!-- show edit area -->
<div class="jsonFormsEditor-Body" style="height: calc(100% - 66px);">
    <div layout="row" class="bottom-border" style="height:100%;">
        <!-- toolbox -->
        <div class="toolbox-container" ui-view="toolboxContainer"></div>

        <!-- tree view -->
        <div flex class="side-borders" layout-padding ui-view="treeContainer"></div>

    </div>
</div>

</body>
</html>
