<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JsonForms Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% styles.forEach(function(file){ %>
    <link rel="stylesheet" type="text/css" href="<%= file %>">
    <% }); %>
    <% scripts.forEach(function(file){ %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

</head>
<body ng-controller="AppController as main">

<md-toolbar>
    <div class="md-toolbar-tools">
        <span>JsonForms Editor</span>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <md-button class="md-raised md-accent" ng-click="main.alertWithOutputUISchema()">Output UI Schema</md-button>
        <md-button class="md-raised md-accent" ng-click="main.previewForm()">Preview Form</md-button>
        <a href="#/preview" id="preview" class="hide" target="_blank"></a>
    </div>
</md-toolbar>

<!-- show edit area -->
<div layout="row" class="bottom-border" ng-if="$state.includes('edit')">
    <!-- toolbox -->
    <div flex="20" ui-view="toolboxContainer"></div>

    <!-- tree view -->
    <div flex="60" class="side-borders" layout-padding ui-view="treeContainer"></div>

    <!-- properties -->
    <div flex="20" ui-view="detailContainer"></div>
</div>

<!-- show preview -->
<div layout="row" ng-if="$state.includes('preview')">
    <jsonforms schema="detail.detailService.schema" ui-schema="detail.detailService.uiSchema" data="detail.detailService.currentElement"></jsonforms>
</div>

</body>
</html>
