<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JSON Forms Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% styles.forEach(function(file){ %>
    <link rel="stylesheet" type="text/css" href="<%= file %>">
    <% }); %>
    <% scripts.forEach(function(file){ %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

</head>
<body ng-controller="AppController as main">

<md-toolbar>
    <div class="md-toolbar-tools">
        <img src="resource/jsonforms-logo.png" style="height: 32px"/>
        <span>JSON Forms Editor</span>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <md-button class="md-raised md-accent" ng-click="main.alertWithOutputUISchema()">Export</md-button>
    </div>
</md-toolbar>

<!-- show edit area -->
<div layout="row" class="bottom-border">
    <!-- toolbox -->
    <div flex="20" ui-view="toolboxContainer"></div>

    <!-- tree view -->
    <div flex="60" class="side-borders" layout-padding ui-view="treeContainer"></div>

    <!-- properties -->
    <div flex="20" ui-view="detailContainer"></div>
</div>

</body>
</html>
