<header>
    <h6 class="mdl-color-text--accent-contrast" style="text-align: center">Toolbox</h6>
</header>

<div class="mdl-navigation mdl-color--blue-grey-800">
    <div ui-tree="treeOptionsToolbox" data-clone-enabled="true" data-nodrop-enabled="true">
        <ol ui-tree-nodes ng-model="toolbox.elements">
            <li ng-repeat="element in toolbox.elements" ui-tree-node class="mdl-navigation__link">
                <div ui-tree-handle>{{element.getTitle()}}</div>
            </li>
        </ol>
    </div>
</div>
