@import "font";

@font-family-base: Helvetica, Arial;
@font-size-base: 12px;

body {
  font-family: @font-family-base;
  font-size: @font-size-base;
}

.element {
  display:block;
  background-color:#F4F6F7;
  border:1px solid #dae2ea;
}

.treeContainer {
  padding-top: 2em;
}

.demo-card-image.mdl-card {
  width: 150px;
  height: 150px;
  background: #2196F3;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

a {
  color: #888;
}