@import "font";

/* LESS variables */

@font-family-base: Helvetica, Arial;
@font-size-base: 12px;
@soft-bg: #f0f9ff;
@soft-border: #bed2db;
@color-white: #fff;
@color-black: #000;

@header-size: 66px;

@toolbox-width: 320px;

/* Header / Body styles */
.jsonFormsEditor-Header {
  height: @header-size;
  min-height: @header-size;
}

.jsonFormsEditor-Body {
  height: calc(100% - @header-size);
}

.logo-img {
  height: 32px
}

.modalDialog {
  width: 60%;
}

.wizardStepContainer {
  text-align: justify;

  &:after {
    content: "";
    width: 100%;
    display: inline-block;
  }
}

.wizardStep {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: grey;
  &:hover {
    background-color: #2196f3;
    color: white;
  }
}

.wizardStepActive {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: white;
  pointer-events: none;
  cursor: default;
}

.wizardStepNotNavigatable {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: grey;
  pointer-events: none;
  cursor: default;
}

.dialogError {
  padding-bottom: 20px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: red; 

  position:relative;
  bottom:-15px;
  
}

.selectedListItem {
  background-color: rgba(0.51, 0.51, 0.51, 0.1);
}

/* HTML element styles */

body {
  font-family: @font-family-base;
  font-size: @font-size-base;
  height: 100%;
}

.side-borders {
  border-right: 1px solid @soft-border;
  border-left: 1px solid @soft-border;
}

.left-margin {
  margin-left: 10px;
}

.bottom-border {
  border-bottom: 1px solid @soft-border;
}

.top-border {
  border-top: 1px solid @soft-border;
}

.textarea {
  padding: 10px;
  width: 500px;
  height: 180px;
}

.hide {
  display: none;
}

/* tree styles */

.angular-ui-tree-handle {
  padding: 10px 10px;
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

tr.angular-ui-tree-empty {
  height: 100px
}

.nodrop {
  background-color: #f2dede;
}

.tree-node-content {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tree-handle {
  padding: 10px;
  background: #428bca;
  color: #FFF;
  margin-right: 10px;
}

/*  angular material design style overrides */

md-grid-list {
  margin: 8px;
}

.gray {
  background: #f5f5f5;
}

md-grid-tile {
  cursor: pointer;

  md-icon {
    padding-bottom: 60px;
  }
}

/* bootstrap framework style overrides */
.row {
  padding: 0 !important;
  margin: 0;
}

.alert {
  margin: 0;
  padding: 10px;
  margin-top: 10px;
}

.btn {
  padding: 0px;
}

.toolbar-container {
  width: @toolbox-width;
  min-width: @toolbox-width;
}


.layouts-element {
  margin-left: 5px;
  margin-right: 5px;
  height: 40px;
  width: 40px;

}

.layouts-view {
  background-color: @soft-bg;
}

.toolbox-element-placed {
  border-color: #283593;
}