@import "font";



/* LESS variables */

@font-family-base: Helvetica, Arial;
@font-size-base: 12px;
@soft-bg: #f0f9ff;
@soft-border: #bed2db;
@color-white: #fff;
@color-black: #000;



/* HTML element styles */

body {
  font-family: @font-family-base;
  font-size: @font-size-base;
  height: 100%;
}

.side-borders {
  border-right: 1px solid @soft-border;
  border-left: 1px solid @soft-border;
}

.left-margin {
  margin-left: 10px;
}

.bottom-border {
  border-bottom: 1px solid @soft-border;
}

.textarea {
  padding: 10px;
  width: 500px;
  height: 180px;
}

.hide {
  display: none;
}



/* tree styles */

.tree-view .tree-node {
  border: 1px solid @soft-border;
  background: @soft-bg;
  padding: 10px;
}

.tree-node-content {
  margin-bottom: 10px;
}

.angular-ui-tree-placeholder {
  background: @soft-bg;
  border: 2px dashed @soft-border;
  box-sizing: border-box;
}

.angular-ui-tree-handle {
  padding: 0;
  font-weight: normal;
}



/*  angular material design style overrides */

.md-subheader {
  background: @soft-bg;
  margin-right: 0;
  text-align: center;
  font-weight: bold;
}

md-tabs-wrapper {
  background: @soft-bg !important;
}

md-tab-item {
  border-bottom: 1px solid @soft-border;
}

md-tab-item:first-child {
  border-right: 1px solid @soft-border;
}

md-tab-item.md-active {
  background: @color-white;
  border-bottom: none;
  border-top: 1px solid @soft-border;
}

md-tab-item span {
  color: @color-black;
}

md-tab-item.md-active span {
  font-weight: bold;
}

md-list-item:hover {
  background: @soft-bg;
}



/* bootstrap framework style overrides */

.row {
  padding: 0 !important;
  margin: 0;
}

.alert {
  margin: 0;
  padding: 10px;
  margin-top: 10px;
}