<md-content>
  <md-subheader class="md-primary">PROPERTIES</md-subheader>
  <md-content class="md-padding">
    <md-card ng-show="detail.detailService.currentElement">
      <md-card-content class="md-padding">
        <jsonforms ng-if="detail.detailService.currentElement" schema="detail.detailService.schema" ui-schema="detail.detailService.uiSchema" data="detail.detailService.currentElement"/>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="detail.reset()">Finish</md-button>
      </md-card-actions>
    </md-card>
  </md-content>
</md-content>


