<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>UI Schema Output</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dialog.hideExportDialog()">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-padding">
        <textarea id="output" class="textarea">{{dialog.content}}</textarea>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button clip-copy="dialog.content" class="md-primary">Copy to clipboard</md-button>
    </md-dialog-actions>
</md-dialog>