<md-toolbar style="height:100%;">
    <div class="md-toolbar-tools">
        <div class="md-toolbar-tools" style="height: 100%;padding-left: 0px;">
            <img src="resource/jsonforms-logo.png" class="logo-img"/>
            <span><md-tooltip>v0.0.20</md-tooltip>JSON Forms Editor</span>

        </div>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <!--<i ng-if="header.undoService.canUndo()" ng-click="header.undoService.undo()" class="material-icons"
           style="padding-right: 6px; margin: 4px">undo</i>-->
        <md-button class="md-raised md-accent" ng-click="header.showImportDialog()">New</md-button>
        <md-button ng-if="!header.configService.isPreviewTab()" class="md-raised md-accent" ui-sref="preview"
                   ui-sref-active="hidden">Preview
        </md-button>
        <md-button ng-if="!header.configService.isPreviewTab()" class="md-raised md-accent" ui-sref="edit"
                   ui-sref-active="hidden">Edit
        </md-button>
        <md-button ng-if="header.socioCortexConnector.isLoggedWithSocioCortex()" class="md-raised md-accent"
                   ng-click="header.saveToSocioCortex()">
            <md-tooltip md-direction="down">Save to SocioCortex</md-tooltip>
            Save
        </md-button>
        <md-button
                ng-if="!header.configService.isPreviewTab() && !header.socioCortexConnector.isLoggedWithSocioCortex()"
                class="md-raised md-accent"
                ng-click="header.showExportDialog()">Export
        </md-button>
    </div>
</md-toolbar>